@using COMP2007_S2016_Assignment2.Models
@model SubMenu

@{
    ViewBag.Title = "Details";
}

<h2>SubMenu: @Model.Title</h2>
<hr />
<ul>
    <li>Food Type: @Model.FoodType.Name </li>
    <li>Short Description: @Model.ShortDescription.Flavour </li>
    <li>Price: @Model.Price </li>
    <li>
        FoodType :
        <img src="@Model.SubMenuUrl" alt="@Model.Title"/>

    </li>
</ul>
<a href="@Url.Action("Edit","StoreManager", new { id = Model.SubMenuId })" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>
